@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme' as *;

.example-layer-test-component {
    padding: $spacing-05;
    background: $layer;
    color: $text-primary;
}

.example-layer-test-component-no-background {
    padding: $spacing-05;
    color: $text-primary;
}